<!Doctype html>

<!--
Ethan Owen Amy Carrie
bigpro
SoftDev
P00
2025-10-23
time spent: 1.5

 -->

<html>

  <head>
    <title> {{user}} PAGE </title>
  </head>

  <body>
    <h1>
      Welcome {{user}} to your page, created by <i> Team bigpro: </i>
      <br>
      ethan amy carrie owen
    </h1>
    <br>
    <h2>
        We value your services
    </h2>

    <h3>
		Please rate us on Piazza
    </h3>

    <br>
    <p> If you would like to logout, please click below </p>
	<form action="/logout" method="POST">
		<input type="submit" value="signout">
  </body>

</html>
