<!Doctype html>

<!--
Ethan Owen Amy Carrie
bigpro
SoftDev
P00
2025-10-23
time spent: 1.5

 -->

<html>

  <ul>
    <li> <a href = "logout"> Log Out </a> </li>
    <li> <a href = "stories"> Stories Page </a> </li>
    <li> <a href = "singlestory"> Create Story </a> </li>
  </ul>

  <head>
    <title> {{username}} PAGE </title>
  </head>

  <body>
    <h1>
      {{username}}'s Homepage
    </h1>
    <br>
    <h2>
        Your stories:
       <!--
        <ul>
            <li>
                <!-- <a href = "{{storyLink}}"> storyTitle </a>
            <li>
        <ul>
        -->
    </h2>
    <h3>
        We value your service.
    </h3>

    <h4>
		Please rate us a 5 stars on Piazza.
    </h4>

    <br>
    <p> If you would like to logout, please click below. </p>
	<form action="/logout" method="POST">
		<input type="submit" value="Log Out">
  </body>

	<footer>
		<p>
		Emails: <a href="mailto:amys90@nycstudents.net">amys90@nycstudents.net</a>
		<a href="mailto:carriek3@nycstudents.net">carriek3@nycstudents.net</a>
		<a href="mailto:ethans201@nycstudents.net">ethans201@nycstudents.net</a>
		<a href="mailto:owen220@nycstudents.net">owen220@nycstudents.net</a>
		Telephone: <a href="tel:+123456789">+1 (234) 567-8901</a>
                Fax: <a href="tel:+123456789">+1 (234) 567-8901</a>
		Last Revised: tbd, 2024 </br>
		2025 Stuyvesant Computer Science Department. All rights reserved.
		</p>
	</footer>
</html>
