<!DOCTYPE html>
<!--
  Ethan Owen Amy Carrie
  bigpro
  SoftDev
  P00
  2025-10-23
  time spent: 1.5


 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <ul>
      <li> <a href = "register"> Register </a> </li>

    </ul>


    <h1>
      Sign In
    </h1>
    <br>
    <h3>
      Enter your username and password below to proceed.
    </h3>
      <form action="/login" method="POST">
        Username: <input type="text" name="id" required>
        Password: <input type=password name="pass" required>
        <br>
        <br>
        <input type="submit" name="sub1" value="Sign In">
      </form>
      <h5> {{invalid}} </h5>
    <br>
    <p> If you don't have an account, click the button below to register. </p>
    <a href="{{url_for('register')}}"> <button>Register</button> </a>
  </body>

  <footer>
    <p>
        Emails: <a href="mailto:amys90@nycstudents.net">amys90@nycstudents.net</a>
        <a href="mailto:carriek3@nycstudents.net">carriek3@nycstudents.net</a>
        <a href="mailto:ethans201@nycstudents.net">ethans201@nycstudents.net</a>
        <a href="mailto:owen220@nycstudents.net">owen220@nycstudents.net</a>
        Telephone: <a href="tel:+123456789">+1 (234) 567-8901</a>
        Fax: <a href="tel:+123456789">+1 (234) 567-8901</a>
        Last Revised: tbd, 2024 </br>
        2025 Stuyvesant Computer Science Department. All rights reserved.
    </p>
  </footer>


</html>
