<!Doctype HTML>

<!--
  Zixi Qiao, Ethan Saldanha, Rohan Sen
  Sigma Rizz
  SoftDev
  K18 - Take and Keep
  2025-10-07
  time spent: 1.5
 -->

<html>
  <head>
    <title> Logged Out </title>
  </head>

  <body>
    <h1>
      THIS IS THE LOGOUT PAGE. YOU HAVE BEEN LOGGED OUT.
		Thank you for your time on this page, created by <i> Team bipro: </i>
      <br>
      we are pro
    </h1>
    <br>
    <h2>
        We value your services and hope to see you again soon
    </h2>

    <h3>
		Please rate us on Piazza
    </h3>

    <br>
    <p> If you would like to re-sign in, please click below </p>
	<form action="/logout" method="POST">
		<input type="submit" value="signin">
  </body>

</html>
