<!DOCTYPE html>
<!--
  Ethan Owen Amy Carrie
  bigpro
  SoftDev
  P00
  2025-10-23
  time spent: 1.5


 -->


<html>

  <head>
    <title> REGISTER PAGE </title>
  </head>

  <body>
    <h1>
      Sign up here
    </h1>
    <br>
    <h3>
      Enter your username, email, and password below to proceed.
    </h3>
      <form action="/register" method="POST">
        Username: <input type="text" name="id">
        Email: <input type="text" name="email">
	Password: <input type="text" name="pass">
        <br>
        <br>
        <input type="submit" name="sub1">
      </form>
    <br>
    <h5> {{invalid}} </h5>
  </body>

</html>
